USERS_TABLE=UsersTable
DEVICES_TABLE=DevicesTable
READINGS_TABLE=ReadingsTable
CONTROL_TABLE=ControlTable
NOTIFICATIONS_TABLE=NotificationsTable
BILLING_TABLE=BillingTable
DAILY_ANALYTICS_TABLE=DailyAnalyticsTable
PAYMAYA_TABLE=PaymayaTable

PAYPAL_CLIENT_ID=your-paypal-client-id
PAYPAL_SECRET=your-paypal-secret
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
PAYPAL_WEBHOOK_ID=your-paypal-webhook-id

FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"your-project-id","private_key_id":"your-private-key-id","private_key":"-----BEGIN PRIVATE KEY-----\\nreplace-me\\n-----END PRIVATE KEY-----\\n","client_email":"your-service-account@your-project.iam.gserviceaccount.com","client_id":"your-client-id","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/replace-me","universe_domain":"googleapis.com"}

IOT_DATA_ENDPOINT=https://your-iot-endpoint.iot.ap-southeast-2.amazonaws.com

PAYMAYA_PUBLIC_KEY=your-paymaya-public-key
PAYMAYA_SECRET_KEY=your-paymaya-secret-key
PAYMAYA_WEBHOOK_SECRET=your-paymaya-webhook-secret
PAYMAYA_ENV=sandbox

APP_URL=https://your-api-url.execute-api.ap-southeast-2.amazonaws.com/prod
STAGE_NAME=prod
